{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./src/components",
        "assets": "./src/assets",
        "config": "./src/config",
        "utils": "./src/utils"
      }
    }]
  ]
}
